*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* transition: all 1s; */
}
h1{
    color: white;
    font-family: sans-serif;
    text-align:center;
    margin-top: 2rem;

}

body{
    background-image: url(https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000);
    background-color:crimson;
    background-blend-mode: soft-light;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculator{
    margin-top: 3rem;
}
.container{
    height: auto;
    width: auto;
    background-color: rgba(92, 99, 110, 0.997);
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px;
}
.container input{
    margin-top: 0.5rem;
    width:auto;
    height: 80px;
    font-size: 2rem;
    border: 1px black solid;
    border-radius: 0.5rem;
    text-align: right;
    padding-right: 1rem;
    color: gray;
}
.button_container{
    margin: 0.5rem;
    height:auto;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(5,auto);
}

.button{
    margin:0.5rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    background-color: white;
    border:black solid 1px;
    display: inline;
    border-radius: 1rem;
    /* box-shadow: 10px 10px 7px; */
}

.btn{
    margin:0.5rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    background-color: white;
    border:black solid 1px;
    display: inline;
    border-radius: 1rem;
    /* box-shadow: 10px 10px 7px; */
}


.button:hover{
    background-color: rgb(130, 226, 223);
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(130, 226, 223);
    cursor: pointer;
}

.eq{
    grid-column: span 3;
    width: auto;
}